<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("common/_header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<!--<div class="form-group col-sm-6">-->
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.orderNo" @keyup.enter="query" placeholder="订单号">

			</div>
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.userPhone" @keyup.enter="query" placeholder="手机号">
			</div>
			<!--</div>-->
			<!--<div class="form-group col-sm-6">-->
			<div class="form-group col-sm-2"  style="width: 20%">
				<select class="form-control" v-model="q.fromtype" style="width: 100%">
					<option value="-1">类型</option>
					<option value="0">消费抵扣</option>
					<option value="1">积分提现</option>
					<option value="2">消费增加</option>
					<!--<option value="3">推广奖励</option>-->
					<option value="3">销售提成</option>
					<!--<option value="4">管理奖励</option>-->
					<option value="4">广告提成</option>
					<option value="5">分红奖励</option>
				</select>
			</div>

			<div class="form-group col-sm-2" style="float: none; display: flex;width: 30%"  >
				<input type="text" id="qkey" class="form-control" v-model="q.key" @keyup.enter="query" placeholder="时间段" style="display:inline" >

					&nbsp;<button class="btn btn-default"  @click="query" >查询</button>

			</div>
			<!--</div>-->

		</div>

	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">会员编号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="integralRecord.memberId" placeholder="会员编号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">积分来至xx会员</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="integralRecord.fromId" placeholder="积分来至xx会员"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">订单编号or提现商户订单号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="integralRecord.orderId" placeholder="订单编号or提现商户订单号"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">积分数值</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="integralRecord.record" placeholder="积分数值"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">来源类型</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="integralRecord.type" placeholder="来源类型"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">创建时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="integralRecord.createTime" placeholder="创建时间"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript" charset="utf-8" src="${rc.contextPath}/statics/plugins/laydate/laydate.js"></script>
<script src="${rc.contextPath}/statics/js/sys/system/integralrecord.js?_${date.systemTime}"></script>
</body>
</html>