<!DOCTYPE html>
<html>
<head>
<title>积分提现记录表</title>
#parse("common/_header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.phone" @keyup.enter="query" placeholder="手机号">
            </div>
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.tradeNo" @keyup.enter="query" placeholder="交易单号">
			</div>
			<div class="form-group col-sm-2" style="width: 10%">
				<select id="flag" class="form-control" v-model="q.flag" style="width: 100%">
					<option value="0" selected="selected">全部状态</option>
					<option value="1">成功</option>
					<option value="2">失败</option>
				</select>
			</div>
            <a class="btn btn-default" @click="query">查询</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

</div>

<script src="${rc.contextPath}/statics/js/sys/system/wechatwithdrawrecord.js?_${date.systemTime}"></script>
</body>
</html>